**Load All Defence Structure Data**

In [1]:
import csv
import pandas as pd

df = pd.DataFrame({"Defence": ["Air Defense", "Archer Tower", "Bomb Tower", "Canon", "Hidden Tesla", "Mortar", "Wizard Tower", "X-Bow"]})

for row in df.iterrows():
    file_name = row[1].iloc[0].replace(" ", "_") + "_data.csv"
    current_df = pd.read_csv(file_name)
    
    print(current_df["Damage per Second"].to_list())
    
    #for current_row in current_df.iterrows():

[80, 110, 140, 160, 190, 230, 280, 320, 360, 400, 440, 500, 540, 600]
[11, 15, 19, 25, 30, 35, 42, 48, 56, 63, 70, 75, 80, 90, 100, 105, 110, 120, 130, 138, 145]
[24, 28, 32, 40, 48, 56, 64, 72, 84, 94, 104]
[9, 11, 15, 19, 25, 31, 40, 48, 56, 64, 74, 85, 95, 105, 115, 120, 125, 130, 140, 150, 160]
[34, 40, 48, 55, 64, 75, 87, 99, 110, 120, 130, 140, 150, 160]
[4, 5, 6, 7, 9, 11, 15, 20, 25, 30, 35, 38, 42, 48, 54, 60]
[11, 13, 16, 20, 24, 32, 40, 45, 50, 62, 70, 78, 84, 90, 95, 102]
[60, 70, 80, 90, 110, 130, 150, 170, 190, 205, 225]

In [33]:
import pandas as pd
import os
import ast

def get_troop_data(path):
    df = pd.read_json(path)
    return df.drop(df.columns[0], axis=1)

df = pd.DataFrame({"Defence": ["Air Defense", "Archer Tower", "Bomb Tower", "Canon", "Hidden Tesla", "Mortar", "Wizard Tower", "X-Bow"]})

# Create an empty DataFrame to store the concatenated data
concatenated_df = pd.DataFrame()

for row in df.iterrows():
    file_name = row[1].iloc[0].replace(" ", "_") + "_data.csv"
    if os.path.exists(file_name):  # Check if the file exists
        df_temp = pd.read_csv(file_name)
        df_temp.insert(0, 'Defence', row[1].iloc[0])  # Add a new column with the Defence type
        # Grouping multiple values with the same Defence name into a list
        df_grouped = df_temp.groupby('Defence').agg(lambda x: x.tolist()).reset_index()
        concatenated_df = pd.concat([concatenated_df, df_grouped], ignore_index=True)

# Add the heros to the dataframe
filenames = ['../Troop Analysis/Barbarian_King.csv', '../Troop Analysis/Archer_Queen.csv']
hitpoints_list = []

for filename in filenames:
    try:
        current_df = pd.read_csv(filename)
        hp_list = current_df['Hitpoints'].tolist()
        hitpoints_list.append(hp_list)
    except FileNotFoundError:
        print('File not found:', filename)
        hitpoints_list.append([])
        continue

df_heros = get_troop_data('../Troop Analysis/troopUpgradeStats.json')
df_heros = df_heros[df_heros['category'] == 'hero']
df_heros = df_heros.head(2)
df_heros = df_heros.drop(['regenerationTimes','minLevel','seasonal','resourceType','housingSpace','village','category','subCategory','trainingTime'], axis=1)
df_heros['Hitpoints'] = hitpoints_list
df_heros.rename(columns={'name': 'Defence'}, inplace=True)
df_heros.rename(columns={'dps': 'Damage per Second'}, inplace=True)
df_heros.rename(columns={'levels': 'Level'}, inplace=True)
df_heros.rename(columns={'upgrade': 'Build cost'}, inplace=True)
df_heros.rename(columns={'unlock': 'Town Hall Level Required'}, inplace=True)
df_heros['Build cost'] = df_heros['Build cost'].apply(lambda x: x['cost'])
df_heros['Town Hall Level Required'] = df_heros['Town Hall Level Required'].apply(lambda x: x['hall'])



concatenated_df = pd.concat([concatenated_df,df_heros])
concatenated_df = concatenated_df.reset_index()
concatenated_df.drop('index', axis=1, inplace=True)

# Now, you have all the data concatenated in the 'concatenated_df' DataFrame with multiple values grouped into a list
concatenated_df

,Defence,Level,Damage per Second,Damage per Shot,Hitpoints,Build cost,Build time,Experience Gained,Town Hall Level Required
0,Air Defense,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]","[80, 110, 140, 160, 190, 230, 280, 320, 360, 4...","[80, 110, 140, 160, 190, 230, 280, 320, 360, 4...","[800, 850, 900, 950, 1,000, 1,050, 1,100, 1,21...","[22,000, 90,000, 270,000, 500,000, 800,000, 1,...","[3h, 8h, 12h, 18h, 1d, 1d 12h, 2d, 2d 12h, 3d,...","[103, 169, 207, 254, 293, 360, 415, 464, 509, ...","[4, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]"
1,Archer Tower,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[11, 15, 19, 25, 30, 35, 42, 48, 56, 63, 70, 7...","[5.5, 7.5, 9.5, 12.5, 15.0, 17.5, 21.0, 24.0, ...","[380, 420, 460, 500, 540, 580, 630, 690, 750, ...","[1,000, 2,000, 5,000, 20,000, 80,000, 150,000,...","[1m, 15m, 45m, 3h, 4h, 5h, 8h, 10h, 12h, 12h, ...","[7, 30, 51, 103, 120, 134, 169, 189, 207, 207,...","[2, 2, 3, 4, 5, 5, 6, 7, 8, 8, 9, 10, 10, 11, ..."
2,Bomb Tower,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[24, 28, 32, 40, 48, 56, 64, 72, 84, 94, 104]","[26.4, 30.8, 35.2, 44.0, 52.8, 61.6, 70.4, 79....","[650, 700, 750, 850, 1,050, 1,300, 1,600, 1,90...","[700,000, 1,000,000, 1,600,000, 2,000,000, 2,8...","[18h, 1d, 1d 12h, 2d, 3d, 3d, 8d, 9d, 13d, 13d...","[254, 293, 360, 415, 509, 509, 831, 881, 1,059...",NaN
3,Canon,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[9, 11, 15, 19, 25, 31, 40, 48, 56, 64, 74, 85...","[7.2, 8.8, 12.0, 15.2, 20.0, 24.8, 32.0, 38.4,...","[420, 470, 520, 570, 620, 670, 730, 800, 880, ...","[250, 1,000, 4,000, 16,000, 50,000, 100,000, 1...","[10s, 2m, 10m, 45m, 1h, 2h, 4h, 8h, 10h, 10h, ...","[3, 10, 24, 51, 60, 84, 120, 169, 189, 189, 20...","[1, 1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10, 10, 11, ..."
4,Hidden Tesla,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]","[34, 40, 48, 55, 64, 75, 87, 99, 110, 120, 130...","[20.4, 24.0, 28.8, 33.0, 38.4, 45.0, 52.2, 59....","[600, 630, 660, 690, 730, 770, 810, 850, 900, ...","[250,000, 350,000, 520,000, 800,000, 1,000,000...","[2h, 3h, 5h, 12h, 18h, 1d, 2d, 2d 12h, 3d, 7d ...","[84, 103, 134, 207, 254, 293, 415, 464, 509, 8...","[7, 7, 7, 8, 8, 8, 9, 10, 11, 12, 13, 13, 14, 15]"
5,Mortar,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[4, 5, 6, 7, 9, 11, 15, 20, 25, 30, 35, 38, 42...","[20, 25, 30, 35, 45, 55, 75, 100, 125, 150, 17...","[400, 450, 500, 550, 600, 650, 700, 800, 950, ...","[5,000, 25,000, 100,000, 200,000, 300,000, 560...","[3h, 6h, 12h, 18h, 1d, 2d, 2d 12h, 2d 12h, 3d,...","[103, 146, 207, 254, 293, 415, 464, 464, 509, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 12, 12, 13, ..."
6,Wizard Tower,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[11, 13, 16, 20, 24, 32, 40, 45, 50, 62, 70, 7...","[14.3, 16.9, 20.8, 26.0, 31.2, 41.6, 52.0, 58....","[620, 650, 680, 730, 840, 960, 1,200, 1,440, 1...","[120,000, 220,000, 400,000, 540,000, 700,000, ...","[3h, 3h, 8h, 12h, 18h, 1d, 1d 12h, 2d, 2d 12h,...","[103, 103, 169, 207, 254, 293, 360, 415, 464, ...","[5, 5, 6, 7, 8, 8, 9, 10, 10, 11, 12, 13, 13, ..."
7,X-Bow,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[60, 70, 80, 90, 110, 130, 150, 170, 190, 205,...","[7.68, 8.96, 10.24, 11.52, 14.08, 16.64, 19.2,...","[1,500, 1,900, 2,300, 2,700, 3,100, 3,400, 3,7...","[1,000,000, 1,600,000, 2,400,000, 2,500,000, 3...","[2d, 2d 12h, 3d 12h, 5d, 5d 6h, 8d 12h, 9d, 9d...","[415, 464, 549, 657, 673, 856, 881, 881, 1,059...","[9, 9, 9, 10, 11, 12, 13, 13, 14, 15, 16]"
8,Barbarian King,"[0, 0, 0, 0, 0, 0, 10, 20, 30, 40, 50, 65, 75,...","[102, 104, 105, 108, 110, 112, 115, 116, 119, ...",NaN,"[1,445, 1,481, 1,518, 1,556, 1,595, 1,635, 1,6...","[5000, 6000, 7000, 8000, 9000, 10000, 11000, 1...",NaN,NaN,7
9,Archer Queen,"[0, 0, 0, 0, 0, 0, 0, 0, 30, 40, 50, 65, 75, 8...","[136, 139, 143, 146, 150, 154, 157, 162, 165, ...",NaN,"[580, 592, 604, 617, 630, 643, 657, 670, 685, ...","[10000, 11000, 12000, 13000, 14000, 15000, 160...",NaN,NaN,9